:root{
    --main-bg-color : #e0e1e1;
    --main-bgDark-color: #374151;
    --main-text-color: #fff;
    --slider-background: #0e0e0e;
    --main-button-color: #3a80f6;
    --main-title-size: 4rem;
    --main-subTitle-size: 2rem;
    --main-title-color: #000;
    --main-subTitle-color: #3a80f6;
    --main-content-size: 1.3rem;
    --main-content-color:#000;
}
body{
    margin:0;
    padding:0;
    background-color:var(--main-bg-color);
}
header{
    position:fixed;
    margin: 1rem;
    width: -webkit-fill-available;
}
.left-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.right-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    background-color: var(--main-bgDark-color);
    padding: 1rem;
    border-radius: 15px;
    box-shadow:  24px 24px 47px #bebebe,
             -24px -24px 47px #ffffff;
             /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    align-items: center;
}
.header-categories-list{
    width: fit-content;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 0.5rem;
}
.header-categories-list > li{
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size:larger;
    color: #fff;
}
.header-categories-list > li:hover{
    background-color: var(--main-button-color);
    color: #fff;
}
.hero-section{
    background-image: url(assets/darkBG.png);
    background-size: cover;
}
.hero-container{
    padding: 10rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.right-hero-container {
    width: 60%;
}
.right-hero-container > img{
    width: 100%;
}
.main-left > h1:nth-child(1){
    font-size: 3rem;;
    color: var(--main-text-color);
}
.main-left > h1:nth-child(2){
    font-size: 4rem;
    color: var(--main-button-color);
}
.about-section-container, .services-section-container, .projects-section-container{
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.about-title, .projects-title, .services-title {
    font-size: var(--main-title-size);
    color: var(--main-title-color);
    text-align: center;
    padding: 0;

}
.about-content {
    font-size: var(--main-content-size);
    color: var(--main-content-color);
    text-align: justify;
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    border: #374151 solid 1px;
}
.services-item-content {
    font-size: var(--main-content-size);
    color: var(--main-content-color);
    text-align: justify;
}
.about-sub-title, .services-sub-title{
    font-size: var(--main-subTitle-size);
    color: var(--main-subTitle-color);
}
.services-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.services-item{
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #374151 solid 1px;
}
.services-item h2{
text-align: center;
}
.active{
    background-color: var(--main-button-color);
    color: #fff;
}
.cursor-pointer{
    cursor: pointer;
    text-decoration: none;
}
.cursor-pointer > a{
    text-decoration: none;
    color: inherit;
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--slider-background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: var(--main-button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }
  footer > p {
    background-color: #000;
    text-align: center;
    color: #e0e1e1;
    padding: 1.5rem;
    bottom:0;
    margin: 0;
  }
  footer > p > a{ 
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    background-color: var(--main-button-color);
    border-radius: 4px;
  }